<ion-app>
  <ion-split-pane>
    <ion-menu *ngIf="userService.user && userService.user.id">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/home']">
              <ion-icon slot="start" [name]="'home'"></ion-icon>
              <ion-label>
                {{ 'HOME' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let project of projects" [routerLink]="['/project-detail', project.id]">
              <ion-icon slot="start" [name]="'briefcase'"></ion-icon>
              <ion-label>
                {{ project.code + ' ' + project.address }}
              </ion-label>
            </ion-item>
            <ion-item (click)="showPresentChangeLanguage()">
              <ion-icon slot="start" [name]="'sync'"></ion-icon>
              <ion-label>
                {{ 'LANGUAGE' | translate }}
              </ion-label>
            </ion-item>
            <ion-item (click)="logout()">
              <ion-icon slot="start" [name]="'person'"></ion-icon>
              <ion-label>
                {{ 'LOGOUT' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>