<!-- Header de la aplicacion -->
<app-header></app-header>

<!-- Contenido -->
<ion-content>

  <!-- Listado de proyectos -->
  <ion-card *ngFor="let project of projects" [routerLink]="['/project-detail', project.id]">
    <ion-card-header>
      <img [src]="project.image" alt="image-project" height="200px">
    </ion-card-header>
    <!-- <ion-item>

      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Projecto X</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item> -->

    <ion-item>
      <!-- <ion-icon name="walk" slot="start"></ion-icon> -->
      <ion-label>{{ 'CODE' | translate }}: {{ project.code }}</ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="walk" slot="start"></ion-icon> -->
      <ion-label> {{ 'ADDRESS' | translate }}: {{ project.address }}</ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="walk" slot="start"></ion-icon> -->
      <ion-label> {{ 'CITY' | translate }}: {{ project.city }}</ion-label>
    </ion-item>

  </ion-card>

  <!-- Agregar proyecto -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- fab placed in the center of the content with a list on each side -->
  <!-- <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
</ion-content>